.sports-block-extension-hide {
    visibility:hidden;
    pointer-events: none; 
    cursor: pointer; 
}

.sports-block-extension-hide::before {
    color: red;
    content: "Blocked by Extension";
    visibility:visible;
}

.sports-block-extension-locate {

    /* pointer-events: none; 
    cursor: pointer;  */
    position : relative;
}

.sports-block-extension-locate::before {
    z-index : 1000;
    content: "";
    height: 100%;
    width: 100%;
    visibility:visible;
    background-color: red;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.sports-block-extension-locate::after {
    z-index : 2000;
    content: "Click to hide category";
    color : black;
    background-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 3px;
    font-weight: bold;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    /* height: 100%;  */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    padding: 40px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */

  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }