.sports-block-extension-hide {
  visibility: hidden;
  pointer-events: none;
  cursor: pointer;
}

.sports-block-extension-hide::before {
  color: red;
  content: "Blocked by Extension";
  visibility: visible;
}

.sports-block-extension-locate {
  /* pointer-events: none; 
    cursor: pointer;  */
  position: relative;
}

.sports-block-extension-locate::before {
  z-index: 1000;
  content: "";
  height: 100%;
  width: 100%;
  visibility: visible;
  background-color: red;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.sports-block-extension-locate::after {
  content: "Click to hide category";
  color: black;
  background-color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 3px;
  font-weight: bold;
}

/* The Modal (background) */
.extension-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  /* height: 100%;  */
  overflow: auto; /* Enable scroll if needed */
  margin: 0 auto;
  margin-top: 20px;
}

.extension-modal-content > p {
  font-size: 12px;
  margin: 0;
  padding-left: 10px;
}

.extension-modal-container {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  justify-content: space-between;
}

.extension-modal-container div > h3 { 
  text-align: center;
  margin: 0;
  margin-top: 5px;
}

/* Modal Content/Box */
.extension-modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  width: 50%; /* Could be more or less, depending on screen size */
  border: 2px solid red;
  min-height: 100px;
}

.modal-content-paths {
  list-style-type: none;
  padding: 10px;
  font-weight: bold;
}

/* The Close Button */
.extension-modal-close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.extension-modal-close:hover,
.extension-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
